In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #algorithm to be used for classification
from sklearn.model_selection import train_test_split # to split the data between train data and test data
from sklearn.metrics import accuracy_score

# create data frame from the csv datafile
df = pd.read_csv('EastpointGreenData.csv')
df.head() # to see only the initial head set of data
# df
# df.shape # returns (rows, columns)

,S/N,Building/Project Name,Street Name,Postal District,Type,No. of Bedroom(for Non-Landed Only),Monthly Gross Rent($),Floor Area (sq ft),Lease Commencement Date
0,1,EASTPOINT GREEN,SIMEI STREET 3,18,Non-landed Properties,2,2600,900 to 1000,Feb-2021
1,2,EASTPOINT GREEN,SIMEI STREET 3,18,Non-landed Properties,3,2800,1100 to 1200,Feb-2021
2,3,EASTPOINT GREEN,SIMEI STREET 3,18,Non-landed Properties,3,2900,1100 to 1200,Feb-2021
3,4,EASTPOINT GREEN,SIMEI STREET 3,18,Non-landed Properties,2,2500,900 to 1000,Feb-2021
4,5,EASTPOINT GREEN,SIMEI STREET 3,18,Non-landed Properties,3,2575,1100 to 1200,Feb-2021

In [6]:
# The describe method will give you a base analysis for all numerical data & only numerical data
#df.describe()
# 
#df.values

In [34]:
# create a data set by excluding some of the columns
# This is the input data
X = df.drop(columns=["S/N","Type", "Building/Project Name", "Street Name", "Monthly Gross Rent($)", "Floor Area (sq ft)", "Lease Commencement Date"])
X.head()
# Define output data
y = df['Monthly Gross Rent($)']
y.head()
# separate data into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

model = DecisionTreeClassifier()
# model.fit(X, y) #will not work with Strings
# pass the trained data set
model.fit(X_train, y_train)
# predictions = model.predict([[18, 2]])
predictions = model.predict(X_test)
predictions
# to compare the accuracy
score = accuracy_score(y_test, predictions)
score

0.18604651162790697

In [9]:
# Define an input set and output set